
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-building-o"></i> Customer</h3>
            </div>
            <div class="box-body">
                <div id="Grid"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
               
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles{

}

@section Scripts{

    <script type="text/javascript">
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/Customer",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            var dataManagerCustomerType = ej.DataManager({
                url: "/api/CustomerType",
                adaptor: new ej.WebApiAdaptor()
            });

            dataManager.ready.done(function (e) { 
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/Customer/Insert",
                        updateUrl: "/api/Customer/Update",
                        removeUrl: "/api/Customer/Remove",
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog"
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSearching: true,
                    allowPaging: true,
                    pageSettings: { pageSize: 10},
                    columns: [
                        { field: "Id", headerText: 'Id', isPrimaryKey: true, isIdentity: true, visible: true },
                        { field: "Fname", headerText: 'First Name', validationRules: { required: true } },
                        { field: "Lname", headerText: 'Last Name', validationRules: { required: true } },
                        { field: "Address", headerText: 'Address', validationRules: { required: true } },
                        { field: "Phone", headerText: 'Phone', validationRules: { required: true } },
                     
                    ],
                    actionComplete: "complete",
                });
            });

            
        });

        function complete(args) {
            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Edit Record" });
            }
        }


    </script>
}

